/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* end reset */
html {
  font-size: 62.5%;
}
.page-container {
  min-height: 100%;
}
body {
  height: 99%;
  margin-left: 3%;
}
a,
button {
  font-family: Arial, sans-serif;
}
a:hover {
  text-decoration: underline;
}
a {
  font-size: 1.4rem;
  margin-right: 3%;
  text-decoration: none;
}
i {
  font-size: 1.6rem;
}
nav {
  display: flex;
  margin-top: 2%;
}
nav a {
  color: #343842;
}
nav .left-nav {
  width: 43%;
}
nav .right-nav {
  display: flex;
  justify-content: flex-end;
  width: 43%;
}
nav .icons {
  margin-right: 3%;
  display: flex;
  justify-content: flex-end;
  width: 10%;
}
.fa-bars {
  margin-top: 2%;
  margin-right: 15%;
  color: #5f6368;
}
.fa-user-circle {
  font-size: 2.5rem;
  margin-bottom: 20%;
}
.content {
  padding-bottom: 2.5rem;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #f2f2f2;
}
footer a {
  color: #7a7b81;
}
footer .footer-top {
  margin: 1% 40% 3% 40%;
}
footer .footer-bottom {
  display: flex;
  justify-content: flex-end;
}
footer .footer-bottom .bottom-left {
  width: 38%;
}
footer .footer-bottom .spacer {
  width: 7%;
  margin-right: 10%;
}
footer .footer-bottom .bottom-right {
  width: 38%;
}
