* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  a, button {
      font-family: Arial, sans-serif;
  }
  a {
    font-size: 1.4rem;
    margin-right: 3%;
  }
  i {
    font-size: 1.6rem;
  }