.nav {
    display: flex;
    margin-top: 2%;
    a {
        
        color: @navlinkcolor;
    }
    .left-nav {
        margin-left: 3%;
        width: 43%;
    }
    .right-nav{
        // margin-right: 3%;
        display: flex;
        justify-content: flex-end;
        width: 43%;
    }
    .icons{
        margin-right: 3%;
        display: flex;
        justify-content: flex-end;
        width: 10%;
        
    }
}
.fa-bars {
    margin-top: 2%;
    margin-right: 15%;
    color: @circlescolor;
    }
.fa-user-circle {
    font-size: 2.5rem;
    margin-bottom: 20%;
}
